/*  your css code here. If applicable */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main-container {
    padding: 10px;
    background-color: #f5f5f5;
}

.testimonial {
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.text {
    
	font-family:sans-serif;
}

.author {
    text-align: right;
    font-style: italic;
}
